<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title></title>
    <style>
      .footer{
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 2.5vh;
        font-family: 'Roboto', sans-serif;
        color: grey;
      }
    </style>
  </head>
  <body>
    <div class=footer>
      <small>Copyright&copy; 2020 Raian Shinogu</small>
    </div>
  </body>
</html>
